%h1 Come join us!

= simple_form_for(@form, url: sessions_sign_up_path) do |f|
  .row
    = f.input :email, placeholder: "Email", label: false
  .row
    = f.input :password, placeholder: "Password", label: false
  .row
    = f.input :confirm_password, placeholder: "Password, again", label: false
  .row
    = f.button :submit, "Sign up!", class: :expand