%h1 Activate your account, #{@form.model.email}!

= simple_form_for(@form, url: session_wake_up_path(id: params[:id]), method: :post) do |f|
  .row
    = f.input :password, placeholder: "Password", label: false
  .row
    = f.input :confirm_password, placeholder: "Password, again", label: false
  .row
    = f.button :submit, "Engage!", class: :expand

    = #f.object.confirmation_token

  =f.input :confirmation_token, as: :hidden, input_html: {value: @operation.confirmation_token} # FIXME: separate form?!

  = @form.errors.to_s