%h3 What do you want to talk about?

= simple_form_for @form do |f|
  - # TODO: can anyone please make things work with simple_form so we don't have to specify label: false, etc. everywhere?
  = f.input :name, placeholder: "Name", label: false, readonly: @form.readonly?(:name)
  = f.input :description, placeholder: "Description", label: false

  = f.button :submit, class: :expand

= @form.errors.messages