.header
  %h1
    #{@thing.name}
    = link_to "Edit", edit_thing_path(@thing)

#{@thing.description}

%hr

%h3 What do you think?

= simple_form_for @form, url: create_comment_thing_path(@thing) do |f| # POST /things/1/comments/
  = f.input :body, placeholder: "Your comment", label: false
  = f.collection_radio_buttons :weight, |
    [[1, 'Nice!'], [0, 'Rubbish!']], :first, :last

  = f.fields_for :user do |u|
    = u.input :email, placeholder: "Your Email", label: false

  = f.button :submit, class: :expand

= @form.errors.messages



= @thing.comments.inspect