.header
  %h1
    #{@thing.name}
    = link_to "Edit", edit_thing_path(@thing)

#{@thing.description}

%hr

= simple_form_for @form, url: create_comment_thing_path(@thing) do |f|

  %h3 What do you think?

  = f.input :body, placeholder: "Your comment", label: false
  = f.collection_radio_buttons :weight, *@form.weights

  = f.fields_for :user do |u|
    = u.input :email, placeholder: "Your Email", label: false

  = f.button :submit, class: :expand


= @form.errors.messages



Comments: #{@thing.comments.size}
= concept "comment/cell", collection: @thing.comments, last: @thing.comments.last