%li
  = link_to "Start discussion!", new_thing_path

- if signed_in?
  %li
    = welcome_signed_in
  %li
    = link_to "Sign out", sessions_sign_out_path
- else
  %li
    = link_to "Sign in", sessions_sign_in_form_path
  %li
    = link_to "Sign up", sessions_sign_up_form_path